@(itemform:Form[Item])(items:Seq[Item])(implicit messages: Messages)

@import helper._
@main("Update Form") {

  @select(
    itemform("itemselected"),
    options(items.map(i=>i.name).toList),
    '_label -> "Item to Update ", '_default -> "-- Select Item --"
  )
  @form(action=routes.App.updateItem(1)) {
    @inputText(itemform("name"),'_label -> "Name", '_showConstraints -> false)
    @inputText(itemform("description"),'_label -> "Description", '_showConstraints -> false)
    @inputText(itemform("maker"),'_label -> "Maker", '_showConstraints -> false)
    @inputText(itemform("warranty"),'_label -> "Warranty", '_showConstraints -> false)
    @inputText(itemform("price"),'_label -> "Price", '_showConstraints -> false)
    @inputText(itemform("discount"),'_label -> "Discount", '_showConstraints -> false)
    @inputText(itemform("seller"),'_label -> "Seller", '_showConstraints -> false)
    <input type="submit" value="Update Item">
  }
}